
.back{
  width: 700px;
  height: 800px;
  margin: 0px auto;
  background-color: whitesmoke;
  padding-left: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.circular--square { 
  border-radius: 50%; 
  height: 20%;
  length: 20%;
  margin: 10px;
}
.text{
  font-size: 18px;
  padding-right: 30px;

}