<div class="back">
  <h1><b>ABOUT ME </b></h1>
<img class="circular--square" src="https://stackblitz.com/files/angular-ivy-cxqgfh/github/ayuumii/cv/main/src/asset/salalila.jpg">

<div class="text">
<p>
  I am a versatile, flexible, and an attentive person who will carry out task. I
  want to develop and learn in a new environment where I can flourish, improve
  and sharpen my skills and gain experience in the field of Information
  Technology.
</p><br />

<p>Birthday / 4th July 2002</p>

<p>E-mail raskinsalalila2@gmail.com</p>
<br>
<p>Age / 21 Yr</p>
<br>
<p>Phone / 09345678910</p>
<br>
<p>Address / Porac, Pampanga</p>
</div>
</div>