
<div class="container">
    <h1> SKILLS</h1>
    <div class="row">
      <div class="col-sm-6">
          <div class="progress_bar fadeIn">
              <div class="progress_holder">
                  <div class="progress_bar_title">HTML5</div>
                  <div class="progress_number">78%</div>
              </div>
              <div class="progress_bar_holder">
                  <div class="progress_bar_content" style="width: 78%; background:#9b59b6;" data-score="78"></div>
              </div>
          </div>
          <div class="progress_bar fadeIn">
              <div class="progress_holder">
                  <div class="progress_bar_title">CSS3</div>
                  <div class="progress_number">70%</div>
              </div>
              <div class="progress_bar_holder">
                  <div class="progress_bar_content" style="width: 70%; background:#363232;" data-score="100"></div>
              </div>
          </div>
          <div class="progress_bar fadeIn">
            <div class="progress_holder">
                <div class="progress_bar_title">WORDPRESS</div>
                <div class="progress_number">95%</div>
            </div>
            <div class="progress_bar_holder">
                <div class="progress_bar_content" style="width: 95%; background:#565656;" data-score="95"></div>
            </div>
        </div>
        <div class="progress_bar fadeIn">
          <div class="progress_holder">
              <div class="progress_bar_title">JAVA</div>
              <div class="progress_number">85%</div>
          </div>
          <div class="progress_bar_holder">
              <div class="progress_bar_content" style="width: 85%; background:	#6b6b6b;" data-score="85"></div>
          </div>
      </div>
      <div class="progress_bar fadeIn">
        <div class="progress_holder">
            <div class="progress_bar_title">PHYTHON</div>
            <div class="progress_number">90</div>
        </div>
        <div class="progress_bar_holder">
            <div class="progress_bar_content" style="width: 90%; background:#eea1e3;" data-score="90"></div>
        </div>
    </div>
    <div class="progress_bar fadeIn">
      <div class="progress_holder">
          <div class="progress_bar_title">SQL</div>
          <div class="progress_number">88%</div>
      </div>
      <div class="progress_bar_holder">
          <div class="progress_bar_content" style="width: 88%; background:#f4b5eb;" data-score="88"></div>
      </div>
  </div>

      </div>
  </div>
</div>